button, input, select, textarea {
	font-family: inherit;
	font-size: 100%
}
input, textarea, select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* input:focus{
	background-color: #abebc6;
}
input:active{
	background-color: #f1948a;
} */
/* :disabled{
	background-color: gray;
} */
/* input [type="checkbox"]:checked+label{
	background-color: #fcf3cf;
} */
input [type="number"]:in-range{
	border:5px solid green;
}
/* :active
:focus
:active
:checked
:selected
:enabled
:disabled
:valid
:invalid
:in-range
:out-of-range
:required 
:optional*/