button, input, select, textarea {
	font-family: inherit;
	font-size: 100%
}
input, textarea, select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* input[type="checkbox"]{
	border:1px solid red;
	background-color: aqua;

} */
/* label{
	border:2px solid red;
	background-color: aqua;
	display:inline-block;
	padding:5px;
	width:6em;
} */
input[type="checkbox"]{
	opacity:0;
}
input[type="checkbox"]+label{
	background:url(i3empty.png) left center no-repeat;
	background-size: 1em 1em;
	padding-left:1.5em;
	margin-left: -1.5em;
	cursor:pointer;
}
input[type="checkbox"]:checked+label{
	background:url(i3check.png) left center no-repeat;
	background-size: 1em 1em;
}